<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qh.learn.dao.StudentDao">
	
	
	<resultMap id="BaseResultMap" type="com.qh.learn.model.Student">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectStudentList" resultMap="BaseResultMap">
		SELECT id,name FROM student
	</select>
	 
	<select id="findStudentById" resultType="Student" parameterType="String">
		SELECT id,name FROM student WHERE ID = #{id}
	</select>
	
	<insert id="insertStudent">
  		insert into student(id,name) values (#{id},#{name})
	</insert>
	
	<insert id="insertstudentbyName">
  		insert into student(name) values (#{name})
	</insert>
	
	<update id="updatestudent">
  		update student set name = #{name} where id = #{id}
	</update>

	<delete id="deletestudent">
  		delete from student where id = #{id}
	</delete>
	
	
</mapper>